body, html {
    height: 100%;
    display: grid;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    margin: auto;
}

.square {
    border: 1px solid black;   
    justify-content: center;
    align-items: center;
}

.colored-square{
    background-color: black;
}

.gridBtn {
    width: 7em;
    height: 2.5em;
    margin: 0 auto;
    margin-top: 1em;

}
